<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interactive Image Pop-ups</title>
  <link rel="stylesheet" href="planstyle.css">
</head>
   <!-- Navbar -->
   <nav class="navbar">
    <div class="logo">
        <img src="assets/GO GOW.png" alt="GoGow Logo">
    </div>
    <ul class="nav-links">
        <li><a href="#information">Information</a></li>
        <li><a href="#plan">Plan</a></li>
        <li><a href="wishlist.html">Wishlist</a></li>
    </ul>
    <div class="nav-actions">
        <button class="login-button" ng-click="mainCtrl.openPopup('loginPopup')">Log In / Sign Up</button>
        <button class="theme-toggle" ng-click="mainCtrl.toggleTheme()">Switch to Dark Mode</button>
    </div>
</nav>

<body ng-app="imageApp" ng-controller="imageController">
  <div class="container">
    <div class="image-box" ng-repeat="image in images" ng-click="showModal($index)">
      <img ng-src="{{image.src}}" alt="Image" class="image">
    </div>

    <!-- Modal Pop-up -->
    <div class="modal" ng-show="modalVisible">
      <div class="modal-content">
        <span class="close" ng-click="closeModal()">&times;</span>
        <h2>{{modalContent.title}}</h2>
        <p>{{modalContent.description}}</p>
        <a ng-href="{{modalContent.link}}" class="see-more-button" target="_blank">See More</a>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="planscript.js"></script>
</body>
</html>
