<!DOCTYPE html>
<html lang="en" ng-app="wishlistApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holiday Wishlist</title>
    <link rel="stylesheet" href="wishliststyle.css">
</head>

<!-- Header Section -->
<header>
    <nav class="navbar">
        <div class="logo">
            <img src="assets/GO GOW.png" alt="GoGow Logo">
        </div>
        <ul class="nav-links">
            <li><a href="nyobaynoba.html">Home</a></li>
            <li><a href="information.html">Information</a></li>
            <li><a href="inspiration.html">Inspiration</a></li>
            <li><a href="wishlist.html">Wishlist</a></li>
        </ul>
        <div class="nav-actions">
            <button class="login-button" ng-click="openPopup('loginPopup')">Log In / Sign Up</button>
            <button class="theme-toggle" ng-click="toggleTheme()">Switch to Dark Mode</button>
        </div>
</header>

<body>

    <div ng-controller="WishlistController">
        <!-- Wishlist Section -->
        <section class="wishlist-section">
            <!-- Your Holiday Wishlist -->
            <div class="wishlist">
                <h2>Your Holiday Wishlist</h2>
                <ul>
                    <li ng-repeat="item in wishlist">
                        <span>{{ item }}</span>
                    </li>
                </ul>
            </div>

            <!-- Create Your Wishlist -->
            <div class="create-wishlist">
                <h2>Create Your Wishlist</h2>
                <form ng-submit="addWishlist()">
                    <input type="text" ng-model="newWishlist" placeholder="Title of wishlist" required>
                    <button type="submit">Create</button>
                </form>
            </div>
        </section>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="wishlistscript.js"></script>
</body>
</html>
